<div class="author-show">
  <div class="author-data">
    <img src='https://picsum.photos/200' />
    <div>
      <h2><%= @author.name %></h2>
      <p>Number of posts: <%= @author.posts.length %></p>
    </div>
  </div>
  <div class="author-bio">
    <p> <%= @author.bio %> </p>
  </div>
  <div class="author-recent-posts">
    <% @author.three_recent_posts.each do |post| %>
      <div class="post-card">
        <p><%= post.title %></p>
        <p><%= post.text %></p>
        <p>Comments: <%= post.comments.length %></p>
        <p>Likes: <%= post.likes.length %></p>
      </div>
    <% end %>
  </div>
  <%= link_to '<button type="button">See All Posts</button>'.html_safe, author_posts_path(@author) %>
  <%= link_to '<button type="button">New Post</button>'.html_safe, new_author_post_path(@author) %>
</div>
