<div class="author-show">

  <div class="author-data">
    <img src='https://picsum.photos/200' />
    <div class="portrait"></div>
    <div class="name-post">
      <h2><%= @author.name %></h2>
      <p>Posts: <%= @author.posts.length %></p>
    </div>
    <div class="author-bio">
      <h4>Bio</h4>
      <p> <%= @author.bio %> </p>
    </div>
  </div>

  <div class="author-posts">
    <%= render "posts/form" %>
    <%= notice %>
    <% @author.posts.includes([:likes, :comments]).order("created_at DESC").each do |post| %>
      <%= link_to author_post_path(@author, post) do %>
        <div class="post-card">
          <h3><%= post.title %></h3>
          <p><%= post.text %></p>
          <div class="likes-comments">
            <p><%= post.likes.length %> Likes</p>
            <p><%= post.comments.length %> Comments</p>
          </div>
          <% post.five_recent_comments.each do |comment| %>
            <%= render comment %>
          <% end %>
        </div>
      <% end %>
      <% if can? :destroy, post %>
      <%= form_with model: post, url: author_post_path(@author, post), method: :delete do |form| %>
        <%= form.submit "Delete", class: "btn" %>
      <% end %>
      <% end %>
      <%= form_with model: @like, url: author_post_likes_path(@author, post), method: :post do |form| %>
        <%= form.submit "Like", class: "btn" %>
      <% end %>

    <% end %>
    
  </div>

  

</div>
