<div class="author-show">
  <% if @author %>
    <div class="author-data">
      <img src='https://picsum.photos/200' />
      <div>
        <h2><%= @author.name %></h2>
        <p>Number of posts: <%= @author.posts.length %></p>
      </div>
    </div>
    <%= notice %>
    <div class="author-recent-posts">
      <% @author.posts.each do |post| %>
        <%= link_to author_post_path(@author, post) do %>
          <div class="post-card">
            <p><%= post.title %></p>
            <p><%= post.text %></p>
            <p>Comments: <%= post.comments.length %></p>
            <p>Likes: <%= post.likes.length %></p>
          </div>
        <% end %>

        <%= form_with model: @like, url: author_post_likes_path(@author, post), method: :post do |form| %>
          <%= form.submit "Like" %>
        <% end %>

      <% end %>
    </div>
    
  <% end %>
</div>
