<div class="post">
  <h2><%= @post.title %></h2>
  <h5> by <%= @post.author.name %></h5>
  <p class="post-text"><%= @post.text %></p>
  <div class="likes-comments">
    <p><%= @post.likes.length %> Likes</p>
    <p><%= @post.comments.length %> Comments</p>
  </div>
  <div class="comments">
    <%= render @post.comments.includes([:author]) %>
  </div>

  <%= render "comments/form" %>

  <%#= link_to '<button type="button">New Comment</button>'.html_safe, new_author_post_comment_path(@post.author, @post) %>

</div>