<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <ul>
        <li>
        <%= link_to authors_path do %>
          HOME
        <% end %>
        </li>
        <li class="right-nav">
          <% if author_signed_in? %>
            <%= link_to "Edit profile", edit_author_registration_path %>
            <%= button_to "Logout", destroy_author_session_path, method: :delete  %>
          <% end %>
        </li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <footer>BlogApp</footer>
  </body>
</html>
